
@media screen and (max-width: 576px) and (orientation: portrait) {
    .titulo {
        font-size: 12px;
        padding: 10px 0;
    }

    #img1 {
        background-image: url('../images/mobile/portrait/banner_01.jpg');
    }
    #img2 {
        background-image: url('../images/mobile/portrait/banner_02.jpg');
    }
    #img3 {
        background-image: url('../images/mobile/portrait/banner_03.jpg');
    }

    #nextSlide {
        display: none;
    }
    
    #previousSlide {
        display: none;
    }

    ul {
        padding: 0 0 100px;
    }

    .quemSomos .quemSomosContainer {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }

    .quemSomos .imgQuemSomos {
        padding: 10px;
    }

    .quemSomos .descricaoQuemSomos {
        width: 100%;
        flex-grow: 1;
        padding: 10px;
        align-items: flex-start;
    }


}
